@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;
$rust: #800000;

$min_sm_width: 320px;
$max_sm_width: 480px;

$min_md_width: 768px;
$max_md_width: 1024px;

$min_lg_width: 1224px;
// $max_lg_width: 1600px;

$min_xl_width: 1824px;

$max_postcard_width: 1420px;
$postcard_lg_width: 1067px;

/*-----------------------gamePlay------------------------*/
/*--------Countdown Modal---------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.nextRoundModal {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: $blue;
  border-radius: 0.4em;
  padding: 0.5em;
  top: 50%; 
  left: 50%;
  width: 16em;
  height: 14em;
  margin-left: -8em;
  margin-top: -7em;
  h1 {
    color: $gray_dk;
    text-align: center;
    margin: 0 auto;
  }
  .roundText {
    color: $gray_dk;
    background-color: $white;
    font-weight: bolder;
    border-radius: 0.4em;
  }
}
/*--------Game Play---------------*/
/*-----Header----------*/
.header_element {
  @include span-columns(4);
  display: inline;
  color: $gray_dk;
}
// Play One
.playerOneIcon {
  height: 1.5em;
  display: inline;
  float: left;
  margin: 0.4em 0.4em;

  @media screen and (min-width: $min_md_width) { 
    height: 2.5em;
    margin: 1em 1em;
  }
}
.playerOne {
  overflow: hidden;
  display: inline;
  float: left;
  margin: 0.4em 0.4em;
  font-size: 0.7em;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.2em;
  } 

  h3 { 
    font-size: inherit;
    margin: 0;
  }
}
// Play Two
.playerTwoIcon {
  height: 1.5em;
  display: inline;
  float: right;
  margin: 0.4em 0.4em;

  @media screen and (min-width: $min_md_width) { 
    height: 2.5em;
    margin: 1em 1em;
  }
} 
.playerTwo {
  overflow: hidden;
  display: inline;
  float: right;
  margin: 0.4em 0.4em;
  font-size: 0.7em;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.2em;
  } 
  
  h3 { 
    font-size: inherit;
    margin: 0;
  }
}
// Timebox 
.timeBox {
  overflow: hidden;
  text-align: center;
  margin-top: 0.4em;
  h3 {
    font-size: 0.7em;
    margin: 0;
    color: $gray_dk;

    @media screen and (min-width: $min_md_width) { 
      font-size: 1.2em;
    } 
  }
}
/*----------Ask Container----------*/
.ask_container {
  @include fill-parent;
  overflow: hidden;
  height: 46vh;
  background-color: transparent;
  color: $gray_dk;
}
.stamp_block {
  @include fill-parent;
  overflow: hidden;
  text-align: center;

  @media screen and (min-width: $max_md_width) { 
    @include span-columns(6);
    @include omega();
    margin-top: 8vh;
  }
}
#stampImg {
  max-height: 25vh;
  border-radius: 5px;
  border: $white 2px solid;
  box-shadow: 6px 5px 5px #333333;
}
.question_block {
  @include fill-parent;
  padding: 0 0.2em;

  @media screen and (min-width: $min_md_width) { 
    padding: 0.5em 3em 0 3em;
  }
}
.question {
  @include fill-parent;
  background-color: $white;
  color: $gray_dk;
  border-radius: 0.4em;
  padding: 0.8em;
  margin: 0;
  font-size: 0.8em;

  @media screen and (min-width: $max_md_width) { 
    @include span-columns(6);
    @include omega();
    margin-top: 8vh;
    font-size: 1.2em;
  }
}

/*---------Answer Container----------*/
.answer_container {
  @include fill-parent;
  overflow: hidden;
  height: 40vh;
  padding: 0;
  background-color: transparent;
}
.answers {
  width: 80%;
  height: 100%;
  float: left;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
}
.answerBtn {
  font-family: 'Coming Soon', cursive;
  width: 90%;
  height: 20%;
  margin-top: 2%;
  font-size: 1em;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 0.4em;
  color: $gray_dk;
  
  &:focus {outline: 0;}

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.6em;
  }

  @media screen and (min-width: $max_md_width) { 
    width: 40%;
    height: 40%;
    margin: 1% 3%;
  }
}
.scoreBar {
  width: 10%;
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.scoreBar_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.bar_left {
  width: 100%;
  margin: 0;
  height: 23%;
  border: $blue 3px solid;
  border-radius: 0.5em;
}
.bar_right {
  width: 100%;
  float: right;
  margin: 0;
  height: 23%;
  border: $blue 3px solid;
  border-radius: 0.5em;
}
.blueBorder  {
  border: $blue 3px solid;
  border-radius: 0.5em;
}
.correctAnswer {
  background-color: $blue;
  border: $blue 3px solid;
  border-radius: 0.5em;
}



