@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;

$min_md_width: 768px;
$max_md_width: 1024px;
$lg_width: 1600px;

/*-----------------------gameOver------------------------*/

.gameOver_container {
  @include fill-parent;
  background-color: transparent;
  margin: 10vh 0 0 0;
  position: relative;
  overflow: hidden;
}
.gameOver_container::before {
  content: ' ';
  display: block;
  position: absolute;
  background-color: $white;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
.player_results {
  @include fill-parent;
  overflow: hidden;
  margin-top: 1em;
  
  h2 {
    margin: 0.1em 0;
    font-size: 1em;
    color: $gray_dk;

    @media screen and (min-width: $min_md_width) { 
      font-size: 1.5em;
    }
  }
}
.game_outcome {
  @include fill-parent;
  text-align: center;
  color: $gray_dk;
  margin: 0.1em 0;
  font-size: 1.5em;

  @media screen and (min-width: $min_md_width) { 
    font-size: 2.5em;
  }
}
.player1_soloResult {
  @include fill-parent;
  text-align: center;
  overflow: hidden;
  color: $gray_dk;
}
.player1_pairResult {
  @include span-columns(6);
  text-align: right;
  overflow: hidden;
}
.player2_pairResult {
  @include span-columns(6);
  text-align: left;
  overflow: hidden;
}
.homeBtn_container {
  @include fill-parent;
  text-align: center;
  overflow: hidden;
}
.name { display: inline;
}
.p1_icon, .p2_icon {
  display: inline;
  height: 1.2em;

  @media screen and (min-width: $min_md_width) { 
    height: 2em;
  }
}
.homeBtn {
    font-family: 'Coming Soon', cursive;
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    font-size: 0.5em;
    background-color: $white;
    border: $blue solid 3px;
    border-radius: 0.5em;
    color: $gray_dk;

  &:focus {outline: 0;}

  &:hover {
    cursor: pointer;
    background-color: $off_white;
  }

  @media screen and (min-width: $min_md_width) { 
    font-size: 1em;
  }
}



