@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;

$min_phone_width: 320px;
$max_phone_width: 414px;
$min_tablet_width: 768px;
$max_tablet_width: 1024px;
$min_laptop_width: 1200px;
$max_laptop_width: 1600px;
$max_desktop_width: 2000px;

$max_postcard_width: 1420px;
$postcard_large: 420px;

/*-----------------------gamePlay------------------------*/
/*--------Countdown Modal---------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.nextRoundModal {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: $blue;
  border-radius: 0.5em;
  padding: 0.5em;
  top: 50%; 
  left: 50%;
  width: 16em;
  height: 14em;
  margin-left: -8em;
  margin-top: -7em;
  h1 {
    color: $gray_dk;
    text-align: center;
    margin: 0 auto;
  }
  .roundText {
    color: $gray_dk;
    background-color: $white;
    font-weight: bolder;
    border-radius: 0.5em;
  }
}
/*--------Header---------------*/
.header {
  @include fill-parent;
  overflow: hidden;
  background-color: $blue;
  color: white;
  height: 8%;
}
.header_element {
  @include span-columns(4);
  display: inline;
  text-align: center;
}
.playerOneIcon_cont {
  @include span-columns(2 of 4);
  @include pad();
  #playerOneIcon {
  }
}
.playerOneInfo_cont {
  @include span-columns(2 of 4);
  @include pad();
  h3 {
    @include fill-parent;
    margin: 0;
    color: $gray_dk;
  }
}
.playerTwoIcon_cont {
  @include span-columns(2 of 4);
  @include pad();
  #playerTwoIcon {
  }
}
.playerTwoInfo_cont {
  @include span-columns(2 of 4);
  @include pad();
  h3 {
    @include fill-parent;
    margin: 0;
    color: $gray_dk;
  }
}
.timeBox {
  overflow: hidden;
  h3 {
    margin: 0;
    color: $gray_dk;
  }
}
.gamePlayArea {
  @include fill-parent;
  position: relative;
  overflow: hidden;
  height: 92%;
}
.gamePlayArea::before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  background-image: url("../img/vintage-postcard.jpg");
  background-repeat: no-repeat;
  background-position: 96% 6%;
}
/*----------question & stamp cont----------*/
.question_stamp_cont {
  @include fill-parent;
  overflow: hidden;
  background-color: $white;
  color: $gray_dk;
}
.stamp_cont {
  @include fill-parent;
  
  .img_cont {
    margin: 0 auto;
    padding: 2em;
  }
  #stampImg {
    margin: 0 auto;
  }

  @include media(min-width $min_tablet_width) {
    @include span-columns(6);
  }
}
.question_cont {
  @include fill-parent;

  @include media(min-width $min_tablet_width) {
    @include span-columns(6);
  }
}
/*----------answer box----------*/
.answer_score_cont {
  @include fill-parent;
  padding: 0;
  overflow: hidden;
  background-color: $white;
}
.answers_cont {
  @include span-columns(10);
  @include omega(4n);
  overflow: hidden;
  text-align: center;
  height: 20em;
  padding: 0;
  background-color: $white;
}
.answerBtn {
    @include span-columns(8 of 10);
    @include shift(1);
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1em;
    background-color: $white;
    border: 3px black solid;
    border-radius: 0.5em;
    color: black;
    @include media(min-width $max_phone_width) {
      @include span-columns(5 of 10);
      @include shift(0);
      height: 8em;
      display: inline;
    }
}
.scoreBar {
  @include span-columns(1);
  overflow: hidden;
  padding: 0;
}
.bar {
  @include fill-parent;
  margin: 0.1em 0;
  height: 4em;
  border: $red 3px solid;
  background-color: $white;
}
.correct {
  background-color: $red;
}

/*-----------------------gameOver------------------------*/
.game_category {
  @include fill-parent;
  text-align: center;
}
.game_outcome {
  @include fill-parent;
  text-align: center;
}
.player_results {
  @include fill-parent;
  overflow: hidden;
}
.playerOneResult {
  @include span-columns(6);
  text-align: right;
  overflow: hidden;
}
.playerTwoResult {
  @include span-columns(6);
  text-align: left;
  overflow: hidden;
}
.gameOverNav {
  @include fill-parent;
  overflow: hidden;
}
.btn_cont {
  @include fill-parent;
  text-align: center;
  overflow: hidden;
}
.rematchBtn {
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1em;
}
.homeBtn {
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1em;
}
