@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;

$min_phone_width: 320px;
$max_phone_width: 414px;
$min_tablet_width: 768px;
$max_tablet_width: 1024px;
$min_laptop_width: 1200px;
$max_laptop_width: 1600px;
$max_desktop_width: 2000px;

$max_postcard_width: 1420px;
$postcard_large: 420px;


/*-----------------------gameOver------------------------*/

.gameOver_container {
  @include fill-parent;
  background-color: transparent;
  height: 26vh;
  margin: 10vh 0 0 0;
  position: relative;
  overflow: hidden;
}
.gameOver_container::before {
  content: ' ';
  display: block;
  position: absolute;
  background-color: $white;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
.player_results {
  @include fill-parent;
  overflow: hidden;
}
.game_outcome {
  @include fill-parent;
  text-align: center;
}
.player1_soloResult {
  @include fill-parent;
  text-align: center;
  overflow: hidden;
}
.player1_pairResult {
  @include span-columns(6);
  text-align: right;
  overflow: hidden;
}
.player2_pairResult {
  @include span-columns(6);
  text-align: left;
  overflow: hidden;
}
.homeBtn_container {
  @include fill-parent;
  text-align: center;
  overflow: hidden;
}
.homeBtn {
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1.5vh;
    background-color: $white;
    border: $blue solid 3px;
    border-radius: 0.5em;
    color: $gray_dk;
}
