@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;

$min_phone_width: 320px;
$max_phone_width: 414px;
$min_tablet_width: 768px;
$max_tablet_width: 1024px;
$min_laptop_width: 1200px;
$max_laptop_width: 1600px;
$max_desktop_width: 2000px;

$max_postcard_width: 1420px;
$postcard_large: 420px;

/*-----------------------gamePlay------------------------*/
/*--------Countdown Modal---------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.nextRoundModal {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: $blue;
  border-radius: 0.5em;
  padding: 0.5em;
  top: 50%; 
  left: 50%;
  width: 16em;
  height: 14em;
  margin-left: -8em;
  margin-top: -7em;
  h1 {
    color: $gray_dk;
    text-align: center;
    margin: 0 auto;
  }
  .roundText {
    color: $gray_dk;
    background-color: $white;
    font-weight: bolder;
    border-radius: 0.5em;
  }
}
/*--------Game Play---------------*/
/*-----Header----------*/
.header_element {
  @include span-columns(4);
  display: inline;
  color: $gray_dk;
}
// Play One
.playerOneIcon {
  height: 1em;
  display: inline;
  float: left;
}
.playerOne {
  overflow: hidden;
  display: inline;
  float: left;
  h3 {
    font-size: 0.7em;
    margin: 0;
  }
}
// Play Two
.playerTwoIcon {
  height: 1em;
  display: inline;
  float: right;
} 
.playerTwo {
  overflow: hidden;
  display: inline;
  float: right;
  h3 {
    font-size: 0.7em;
    margin: 0;
  }
}
// Timebox 
.timeBox {
  overflow: hidden;
  text-align: center;
  h3 {
    font-size: 0.7em;
    margin: 0;
    color: $gray_dk;
  }
}
/*----------Ask Container----------*/
.ask_container {
  @include fill-parent;
  overflow: hidden;
  height: 50%;
  background-color: transparent;
  color: $gray_dk;
}
.stamp_block {
  @include fill-parent;
  text-align: center;
  height: 40%;
}
#stampImg {
  width: 50%;
  border-radius: 5px;
  border: $white 2px solid;
  box-shadow: 6px 5px 5px #333333;
}
.question_block {
  @include fill-parent;
  height: 60%;
  padding: 0 0.2em;
}
.question {
  @include fill-parent;
  background-color: $white;
  color: $gray_dk;
  border-radius: 1em;
  padding: 0.5em;
  opacity: 0.9;
  margin: 0;
  font-size: 1em;
}

/*---------Answer Container----------*/
.answer_container {
  @include fill-parent;
  overflow: hidden;
  height: 50%;
  padding: 0;
  background-color: transparent;
}
.answers {
  width: 80%;
  height: 100%;
  float: left;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
}
.answerBtn {
  width: 50%;
  height: 18vh;
  font-size: 1em;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 0.4em;
  opacity: 0.8;
  color: $gray_dk;
}
.scoreBar {
  width: 10%;
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 0;
}
.bar_left {
  width: 75%;
  margin: 0;
  height: 25%;
  border: $blue 3px solid;
  border-radius: 0.5em;
}
.bar_right {
  width: 75%;
  float: right;
  margin: 0;
  height: 25%;
  border: $blue 3px solid;
  border-radius: 0.5em;
  background-color: transparent;
}



