@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;

$rust: #800000;

$min_md_width: 768px;
$max_md_width: 1024px;

/*-----------------------Home------------------------*/
/*---------Title Bar----------*/
.choose {
  @include span-columns(8);
  margin-top: 2vh;

  @media screen and (min-width: $min_md_width) { 
    @include span-columns(7);
    @include shift(1);
  }
}
.choose_text {
  color: $gray_dk;
  font-size: 1em;
  margin: 0;
  display: inline;
  margin-left: 1em;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.5em;
    margin-left: 0;
  }
}
.userName_block {
  @include span-columns(4);
  overflow: hidden;
  height: 100%;

  @media screen and (min-width: $min_md_width) { 
    @include span-columns(3);
  }
}
.username_cont {
  float: right;
  overflow: hidden;
  margin-top: 2vh;
  margin-right: 1em;
}
.username_home {
  color: $gray_dk;
  font-size: 1em;
  margin: 0;
  display: inline;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.5em;
  }
}
.home_username_icon {
  height: 1em;
  margin: 0;
  display: inline;

  @media screen and (min-width: $min_md_width) { 
    height: 1.5em;
  }
}
/*---------Categories----------*/
.grid {
  @include outer-container;
  margin-top: 9vh;
  overflow: hidden;
  text-align: center;

  @media screen and (min-width: $min_md_width) { 
    margin-top: 11vh;
  }
  @media screen and (min-width: $max_md_width) { 
    margin-top: 12vh;
  }
}
.stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
  @include fill-parent();
  overflow: hidden;
  text-align: center;

  @media screen and (min-width: $min_md_width) { 
    @include span-columns(6);
    @include omega();
    height: 18.3em;
  }

  @media screen and (min-width: $max_md_width) {
    @include span-columns(4);
    @include omega();
    height: 18em;
  }
}
.stamp {
  border-radius: 5px;
  border: $gray_dk 2px solid;
  box-shadow: 6px 5px 5px $gray_dk;
  
  @media screen and (min-width: $min_md_width) { 
    width: 60%;
  }
}
.large_stamp {
  width: 60%;

  @media screen and (min-width: $min_md_width) { 
    width: 40%;
  }

  @media screen and (min-width: $min_md_width) { 
    width: 60%;
  }
}
.category {
  background-color: white;
  opacity: 0.8;
  display: inline;
  padding: 0.1em 0.4em;
  border-radius: 0.5em;
  margin: 0.1em 0;
  font-size: 2em;
  margin: 0;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.5em;
  }
}


