@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;

$min_phone_width: 320px;
$max_phone_width: 414px;
$min_tablet_width: 768px;
$max_tablet_width: 1024px;
$min_laptop_width: 1200px;
$max_laptop_width: 1600px;
$max_desktop_width: 2000px;

$max_postcard_width: 1420px;
$postcard_large: 420px;

/*-----------------------Home------------------------*/
/*---------Title Bar----------*/
.home_title_block {
  @include span-columns(5);
  @include shift(1);
  @include omega();
  height: 100%;

  .home_title {
    @include fill-parent;
    color: $gray_dk;
    height: 4vh;
    font-size: 2.6vh;
    padding: 0;
    margin: 0.5vh 0 0 0;
  }
  .choose {
    @include fill-parent;
    color: $gray_dk;
    font-size: 1.7vh;
    padding: 0;
    margin: 0;
  }
}
.userName_block {
  @include span-columns(5);
  @include omega();
  overflow: hidden;
  height: 100%;
}
.username_cont {
  float: right;
  overflow: hidden;
  margin-top: 2vh;
}
.username_home {
  color: $gray_dk;
  font-size: 2vh;
  margin: 0;
  display: inline;
  margin-right: 1vw;
}
.home_username_icon {
  height: 2vh;
  margin: 0;
  display: inline;
}
/*---------Categories----------*/
.music_block, .science_block, .movies_block, .aviation_block, .presidents_block, .olympics_block {
  overflow: hidden;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    height: 28vh;
    z-index: 2;
  }
}
.music_block {
  @include fill-parent;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(5);
    @include shift(1);
    @include omega();
    margin-top: 4vh;
  }

  .music_img {

    @include media(min-width $min_tablet_width max-width $max_tablet_width) {

    }
  }
}
.science_block {
  @include fill-parent;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(5);
    @include omega();
    margin-top: 4vh;
  }

  .stamp_cont_science {

    @include media(min-width $min_tablet_width max-width $max_tablet_width) {

    }
  }
}
.olympics_block {
  @include fill-parent;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(5);
    @include shift(1);
    @include omega();
  }
  
  .stamp_cont_olympics {

    @include media(min-width $min_tablet_width max-width $max_tablet_width) {

    }
  }
}
.presidents_block {
  @include fill-parent;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(5);
    @include omega();
  }
  
  .stamp_cont_presidents {
  
    @include media(min-width $min_tablet_width max-width $max_tablet_width) {

    }
  }
}
.movies_block {
  @include fill-parent;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(5);
    @include shift(1);
    @include omega();
  }
  
  .stamp_cont_movies {
  
  @include media(min-width $min_tablet_width max-width $max_tablet_width) {

    }
  }
}
.aviation_block {
  @include fill-parent;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(5);
    @include omega();
  }
  
  .stamp_cont_aviation {

    @include media(min-width $min_tablet_width max-width $max_tablet_width) {

    }
  }
}
.stamp {
  border-radius: 5px;
  border: $white 2px solid;
  box-shadow: 6px 5px 5px #333333;
}
.category_label {
  position: relative;
  overflow: hidden;
  background-color: $white;
  border: $white 3px solid;
  border-radius: 0.5em;
  opacity: 0.7;
}
.category {
  display: inline;
  height: 2em;
  margin-top: -1em;
  transform: translate(0, 50%);
}
.category_icon {
  transform: translate(50px,100px);
  display: inline;
  height: 2em;
  margin-top: -1em;
  transform: translate(0, 50%);
}