@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;

$min_sm_width: 320px;
$max_sm_width: 480px;

$min_md_width: 768px;
$max_md_width: 1024px;

$min_lg_width: 1224px;
// $max_lg_width: 1600px;

$min_xl_width: 1824px;

// Dimensions: 1800 × 1270 / 2.35 = 765.9 x 540.4
$max_postcard_width: 1420px;
$postcard_large: 420px;

/*-----------------------Home------------------------*/
/*---------Title Bar----------*/
.home_title_block {
  @include span-columns(5);
  @include shift(1);
  @include omega();
  height: 100%;

  .home_title {
    @include fill-parent;
    color: $gray_dk;
    font-size: 1em;
    margin: 0.1em 0;
    padding: 0;

    @media screen and (min-width: $min_md_width) { 
      font-size: 2em;
    }
  }
  .choose {
    @include fill-parent;
    color: $gray_dk;
    font-size: 0.7em;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $min_md_width) { 
      font-size: 1em;
    }
  }
}
.userName_block {
  @include span-columns(5);
  @include omega();
  overflow: hidden;
  height: 100%;
}
.username_cont {
  float: right;
  overflow: hidden;
  margin-top: 2vh;
}
.username_home {
  color: $gray_dk;
  font-size: 1.2em;
  margin: 0;
  display: inline;
  margin-right: 0.5em;
}
.home_username_icon {
  height: 2vh;
  margin: 0;
  display: inline;
}
/*---------Categories----------*/
.grid {
  width: 100%;
  height: 92vh;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer {
  width: 50%;
}
.grid-item {
  width: 100%;
  height: 33%;
  float: left;
  background: transparent;
  // border: 2px solid #333;
  // border-color: rgba(0, 0, 0, 0.5);
  // border-radius: 5px;
  text-align: center;

  @media screen and (min-width: $min_md_width) { 
    width: 50%;
    height: 33%;
  }
  @media screen and (min-width: $max_md_width) { 
    width: 33.3%;
    height: 45%;
    margin-top: 5%;
  }
}
.stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
  overflow: hidden;
}
.stamp {
  border-radius: 5px;
  border: $gray_dk 2px solid;
  box-shadow: 6px 5px 5px $gray_dk;
  position: inline;
  
  @media screen and (max-width: $max_md_width) { 
    max-height: 69%;
  }

  @media screen and (max-width: $min_md_width) { 
    max-width: 64%;
  }
}
.category_label {
  overflow: hidden;
  background-color: transparent;
  opacity: 0.8;
  border-radius: 0.5em;
  margin: 0.1em 0;
  margin: 0;

  @media screen and (min-width: $min_md_width) { 
    margin: 0 20%;
    background-color: white;
  }
}
.category {
  display: inline;
  font-size: 2em;
  margin: 0;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.5em;
  }
}
.category_icon {
  display: inline;
  height: 2em;
  margin: 0.5em 0.5em 0 0;

    @media screen and (min-width: $min_md_width) { 
      font-size: 1em;
      margin: 0.1em 0.1em 0 0;
  }
}

