@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;

$rust: #800000;

$min_md_width: 768px;
$max_md_width: 1024px;
$lg_width: 1600px;

html {
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Coming Soon', sans-serif;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:link, a:visited {
    text-decoration: none;
    color: #2A221E;
}
a:hover, a:active {
    text-decoration: none;
    color: #2A221E;
}
body {
  margin: 0;
  padding: 0;
}
.body {
  margin: 0;
  @include outer-container(100%);
  @include fill-parent;
}

/*--------Game Play Wrapper---------------*/
.wrapper {
  border-top: 1px solid transparent;
  width: 100%;
}
.wrapper_clear_border {
  border-top: 1px solid transparent;
}
/*-----Header----------*/
.header {
  @include fill-parent;
  overflow: hidden;
  background-color: transparent;
  color: white;
  height: 8vh;
  z-index: 9999;
  position: fixed;

  @media screen and (min-width: $min_md_width) { 
    height: 10vh;
  }
}
.header::before {
  content: ' ';
  display: block;
  position: fixed;
  background-color: white;
  right: 0;
  height: 8vh;
  width: 100%;
  z-index: -2;
  opacity: 0.8;

  @media screen and (min-width: $min_md_width) { 
    height: 10vh;
  }
}
.gameArea {
  @include fill-parent;
  position: fixed;
  margin-top: 8vh;
  height: 92vh;
  z-index: -1;

  @media screen and (min-width: $min_md_width) { 
    height: 90vh;
    margin-top: 10vh;
  }
}
.gameArea::before {
  content: ' ';
  display: block;
  position: fixed;
  right: 0;
  top: 8vh;
  height: 92vh;
  width: 100%;
  z-index: -2;
  background-image: url("../img/vintage-postcard.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 95% 10%;

  @media screen and (min-width: $min_md_width) { 
    height: 90vh;
    top: 10vh;
  }
}
.center_title {
  color: $gray_dk;
  text-align: center;
  font-size: 1em;
  margin: 0.2em 0 0 0;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1.5em;
  }
}
.center_category {
  color: $gray_dk;
  text-align: center;
  font-size: 0.8em;
  margin: 0.8em 0 0 0;

  @media screen and (min-width: $min_md_width) { 
      font-size: 1.5em;
  }
}
.blue {
  background-color: $blue;
}
.white {
  background-color: $white;
}




