@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;

$rust: #800000;

$min_md_width: 768px;
$max_md_width: 1024px;
$lg_width: 1600px;

/*-----------------------preGame------------------------*/
.pregame_container {
  @include fill-parent;
  background-color: transparent;
  margin: 20vh 0 0 0;
  position: relative;
  overflow: hidden;
}
.pregame_container::before {
  content: ' ';
  display: block;
  position: absolute;
  background-color: $white;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
/*------------top----------*/
.top {
  @include fill-parent;
  position: relative;
  background-color: transparent;
  height: 10vh;
}
.player1 {
  @include span-columns(6);
  position: absolute;
  bottom: 5%;
  left: 5%;

  .player1_icon {
    display: inline;
    margin-left: 2em;
    height: 1em;

    @media screen and (min-width: $min_md_width) { 
      height: 2em;
    }
  }
  .player1_name {
    display: inline;
    color: $gray_dk;
    font-size: 1em;

    @media screen and (min-width: $min_md_width) { 
      font-size: 2em;
    }
  }
}
/*------------divide----------*/
.divider {
  @include fill-parent;
  height: 4vh;
  overflow: hidden;
  background-color: $blue;
  text-align: center;
}
.mail_icon {
  height: 100%;
  padding: 0.1em 0;
}
/*------------bottom----------*/
.bottom {
  @include fill-parent;
  background-color: transparent;
  color: $gray_dk;
  min-height: 10vh;
}
.player2 {
  @include span-columns(6);
  @include shift(6);
  margin-top: 0.5em;

  .player2_name {
    display: inline;
    color: $gray_dk;
    font-size: 1em;

    @media screen and (min-width: $min_md_width) { 
      font-size: 2em;
    }
  }
  .player2_icon {
    height: 1em;

    @media screen and (min-width: $min_md_width) { 
      height: 2em;
    }
  }
}
/*---no opponent----*/
.play_solo_ask {
  @include fill-parent;
  text-align: center;
  h2 {
    color: $gray_dk;
    font-size: 0.8em;
    margin: 0.2em 0;

    @media screen and (min-width: $min_md_width) { 
      font-size: 1em;
    }
  }
}
.btn_cont {
  @include fill-parent;
}
.countdownNum {
  font-size: 0.8em;
  color: $gray_dk;

  @media screen and (min-width: $min_md_width) { 
    font-size: 1em;
  }
}
.playSoloBtn {
  font-family: 'Coming Soon', cursive;
  padding: 0.2em;
  margin: 0.5em 0;
  font-size: 0.8em;
  background-color: white;
  border: $blue solid 3px;
  border-radius: 0.4em;
  color: $gray_dk;

  &:focus {outline: 0;}

  &:hover {
    cursor: pointer;
    background-color: $off_white; 
  }
  @media screen and (min-width: $min_md_width) { 
    font-size: 1em;
  }
}
.waitBtn {
  font-family: 'Coming Soon', cursive;
  padding: 0.2em;
  margin: 0.5em 0;
  font-size: 0.8em;
  background-color: $blue;
  border: $blue solid 3px;
  border-radius: 0.4em;
  color: $gray_dk;

  &:focus {outline: 0;}

  &:hover {cursor: pointer;}

  @media screen and (min-width: $min_md_width) { 
    font-size: 1em;
  }
}




