@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;

$min_phone_width: 320px;
$max_phone_width: 414px;
$min_tablet_width: 768px;
$max_tablet_width: 1024px;
$min_laptop_width: 1200px;
$max_laptop_width: 1600px;

$max_postcard_width: 1400px;

html {
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Coming Soon', cursive;
  background-color: $white;
  min-height: 100%;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:link, a:visited {
    text-decoration: none;
    color: #2A221E;
}
a:hover, a:active {
    text-decoration: none;
    color: #2A221E;
}
.body {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
/*-----------------------Welcome------------------------*/
.welcome_container {
  @include fill-parent;
  height: 100%;
  padding: 1em;
}
.postcard {
  @include fill-parent;
  overflow: hidden; 
  background-color: $white;
  height: 100%;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    background-image: url("../img/vintage-postcard.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @include media(min-width $max_tablet_width max-width $max_postcard_width) {
    background-image: url("../img/vintage-postcard.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @include media(min-width $max_postcard_width) {

    }
}
.welcome_text {
  @include fill-parent;
  
  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(6);
    height: 100%;
    padding-left: 4em;
    padding-right: 1em;
  }
}
.welcome {
    color: $red;
    font-size: 3em;
    margin: 4em 0 0.5em 0;
}
.wel_instruction {
  font-size: 1em;
  font-weight: bolder;
  color: $gray_dk;
  padding: 0.5em;
  border-radius: 0.8em; 
  background-color: $white;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    opacity: 0.65;
  }
}
.form_cont {
  overflow: hidden;
  
 @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    @include span-columns(6);
    height: 100%;
    padding-right: 7em;
    padding-left: 2em;
    margin: 15em 0;
  }
}
.usernameForm {
  padding: 0 2em;
}
.userName_input {
  width: 100%;
  margin: 0 auto;
  line-height: 2.5em;
  border: $white 2px solid;
  border-radius: 4px;
  padding-left: 0.5em;
}
input[type="text"] {
    font-size: 1em; 
    font-family: 'Coming Soon', cursive;
}
.submitBtn_cont {
  width: 100%;
  padding-right: 0.4em;
  overflow: hidden;
  margin: 2em 0;
}
#userSubmitBtn {
  float: right;
  font-family: 'Coming Soon', cursive;
  font-weight: bolder;
  background-color: white;
  border: white 2px solid;
  text-shadow: none;
  text-shadow: none;
  border-radius: 4px;
  padding: 0.8em;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $off_white;
    cursor: pointer;
    border: $off-white 2px solid;
  }
}
/*-----------------------Home------------------------*/
.home_title_cont {
  @include fill-parent;
  background-color: $blue;
  overflow: hidden;
}
.title_box {
  @include span-columns(5);
  @include shift(1);
  @include omega();
}
.home_title {
  @include fill-parent;
  color: $gray_dk;
  font-size: 1.7em;
  height: 1.2em;
  margin: 0.2em 0;
  padding: 0;
}
.choose {
  @include fill-parent;
  margin: 0.2em 0;
  font-size: 1em;
  color: $white;
}
.userName_box {
  @include span-columns(5);
  @include omega();
  height: 100%;
  overflow: hidden;
}
.username_cont {
  float: right;
}
.home_user_icon {
  height: 1em;
  display: inline;
}
.userName_home {
  margin-left: 0.2em;
  color: $white;
  font-size: 1.2em;
  display: inline;
}
.category_cont {
  @include outer-container;
  overflow: hidden;
  background-image: url("../img/vintage-postcard.jpg");
  background-repeat: no-repeat;
  background-position: 96% 5%;
  height: 40em;
}
.music_cont, .science_cont, .movies_cont, .aviation_cont, .presidents_cont, .olympics_cont {
  overflow: hidden;
  height: 50%;
}
.music_cont {
  @include span-columns(3);
  @include shift(1);
  @include omega();

  .stamp_cont_music {
    height: 12em;
    margin: 4em 0;
  }
}
.science_cont {
  @include span-columns(4);
  @include omega();
  margin-left: 1em;

  .stamp_cont_science {
    height: 12em;
    margin-top: 9em;
  }
}
.presidents_cont {
  @include span-columns(4);
  @include omega();
  padding-left: 1em;
  
  .stamp_cont_presidents {
    height: 12em;
    margin: 4em 0 0 1em;
  }
}
.olympics_cont {
  @include span-columns(5);
  @include omega();
  
  .stamp_cont_olympics {
    height: 12em;
    margin: 2em 0 4em 1em;;
  }
}
.movies_cont {
  @include span-columns(3);
  @include omega();
  
  .stamp_cont_movies {
    height: 12em;
    margin: 4em 0;
  }
}
.aviation_cont {
  @include span-columns(4);
  @include omega();
  
  .stamp_cont_aviation {
    height: 12em;
    margin: 1em 0 0 1em;;
  }
}
.stamp {
  height: 100%;
}
.category_text_cont {
  @include fill-parent;
  position: relative;
  height: 100%;
  
  .category {
    display: inline;
  }
  .category_icon {
    display: inline;
    height: 2em;
  }
}
/*-----------------------preGame------------------------*/

/*------------top----------*/
.top_half {
  @include fill-parent;
}
.player1_cont {
  @include span-columns(6);
  margin-top: 15em;
  bottom: 0;
}
#player1_icon {
  display: inline;
  margin-left: 2em;
}
.player1_name {
  display: inline;
}
/*------------divide----------*/
.divider_cont {
  @include fill-parent;
  overflow: hidden;
  background-color: $red;
  height: 2.2em;
}
.icon_holder {
  @include span-columns(2);
  @include shift(5);
}
.versus_text {
  @include span-columns(2);
  @include shift(5);
  padding: 1em;
  border: 5px black solid;
  border-radius: 50%;
}
#mail_icon {
  margin: 0 auto;
}
/*------------bottom----------*/
.bottom_half {
  @include fill-parent;
}
.player2_cont {
  @include span-columns(6);
  @include shift(6);
  top: 0;
}
.player2_name {
  display: inline;
}
/*---no opponent----*/
.play_solo_ask {
  @include fill-parent;
  text-align: center;
  h2 {
    font-size: 1.2em;
  }
}
.btn_cont {
  @include fill-parent;
}
.countdownNum {
  font-size: 1.2em;
}
#playSoloBtn {
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1em;
    background-color: white;
    border: $red solid 3px;
    border-radius: 0.5em;
    color: $red;
}
#waitBtn {
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1em;
    background-color: $red;
    border: $red solid 3px;
    border-radius: 0.5em;
    color: $white;
}
#waitBtn:hover {
  cursor: pointer;
}
#playSoloBtn:hover {
  cursor: pointer;
  background-color: $off_white;
}
/*-----------------------gamePlay------------------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.nextRoundModal {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: $red;
  border-radius: 0.5em;
  padding: 0.5em;
  top: 50%; 
  left: 50%;
  width: 16em;
  height: 14em;
  margin-left: -8em;
  margin-top: -7em;
  h1 {
    color: $white;
    text-align: center;
    margin: 0 auto;
  }
  .roundText {
    color: $red;
    background-color: $white;
    font-weight: bolder;
    border-radius: 0.5em;
  }
}
.header {
  @include fill-parent;
  overflow: hidden;
  background-color: $red;
  color: white;
}
.header_element {
  @include span-columns(4);
  display: inline;
  text-align: center;
}
.playerOneIcon_cont {
  @include span-columns(2 of 4);
  @include pad();
  #playerOneIcon {
  }
}
.playerOneInfo_cont {
  @include span-columns(2 of 4);
  @include pad();
  h3 {
    @include fill-parent;
    margin: 0;
  }
}
.playerTwoIcon_cont {
  @include span-columns(2 of 4);
  @include pad();
  #playerTwoIcon {
  }
}
.playerTwoInfo_cont {
  @include span-columns(2 of 4);
  @include pad();
  h3 {
    @include fill-parent;
    margin: 0;
  }
}
.timeBox {
  overflow: hidden;
  h3 {
    margin: 0;
  }
}
/*----------question & stamp cont----------*/
.question_stamp_cont {
  @include fill-parent;
  overflow: hidden;
  background-color: $white;
  color: $gray_dk;
}
.stamp_cont {
  @include fill-parent;
  
  .img_cont {
    margin: 0 auto;
    padding: 2em;
  }
  #stampImg {
    margin: 0 auto;
  }

  @include media(min-width $min_tablet_width) {
    @include span-columns(6);
  }
}
.question_cont {
  @include fill-parent;

  @include media(min-width $min_tablet_width) {
    @include span-columns(6);
  }
}
/*----------answer box----------*/
.answer_score_cont {
  @include fill-parent;
  padding: 0;
  overflow: hidden;
  background-color: $white;
}
.answers_cont {
  @include span-columns(10);
  @include omega(4n);
  overflow: hidden;
  text-align: center;
  height: 20em;
  padding: 0;
  background-color: $white;
}
.answerBtn {
    @include span-columns(8 of 10);
    @include shift(1);
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1em;
    background-color: $white;
    border: 3px black solid;
    border-radius: 0.5em;
    color: black;
    @include media(min-width $max_phone_width) {
      @include span-columns(5 of 10);
      @include shift(0);
      height: 8em;
      display: inline;
    }
}
.scoreBar {
  @include span-columns(1);
  overflow: hidden;
  padding: 0;
}
.bar {
  @include fill-parent;
  margin: 0.1em 0;
  height: 4em;
  border: $red 3px solid;
  background-color: $white;
}
.correct {
  background-color: $red;
}

/*-----------------------gameOver------------------------*/
.game_category {
  @include fill-parent;
  text-align: center;
}
.game_outcome {
  @include fill-parent;
  text-align: center;
}
.player_results {
  @include fill-parent;
  overflow: hidden;
}
.playerOneResult {
  @include span-columns(6);
  text-align: right;
  overflow: hidden;
}
.playerTwoResult {
  @include span-columns(6);
  text-align: left;
  overflow: hidden;
}
.gameOverNav {
  @include fill-parent;
  overflow: hidden;
}
.btn_cont {
  @include fill-parent;
  text-align: center;
  overflow: hidden;
}
.rematchBtn {
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1em;
}
.homeBtn {
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1em;
}
