@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

$red: #DC2829;
$blue: #84D4EF;
$white: #F2F2F2;
$off_white: #ECECEC;
$gray_dk: #333333;
$gray_md: #777777;
$gray_lt: #C7C7C7;
$postcard: #F6EBD4;
$rust: #800000;

$min_phone_width: 320px;
$max_phone_width: 414px;
$min_tablet_width: 768px;
$max_tablet_width: 1024px;
$min_laptop_width: 1200px;
$max_laptop_width: 1600px;
$max_desktop_width: 2000px;

$max_postcard_width: 1420px;
$postcard_large: 420px;

/*-----------------------Welcome------------------------*/
.postcard {
  @include fill-parent;
    overflow: hidden;
    height: 53vh;
    background-color: $white;
    position: absolute;
    bottom: 30vh;
    box-shadow: 6px 5px 5px $gray_dk;
    border-top: 1px solid $gray_dk;
    border-bottom: 1px solid $gray_dk;

  @include media(min-width $min_tablet_width) {
    background-image: url("../img/vintage-postcard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.welcome_text {
  @include fill-parent;
  
  @include media(min-width $min_tablet_width) {
    @include span-columns(5);
    height: 100%;
    padding-left: 4em;
    padding-right: 1em;
  }
}
.welcome {
    color: $rust;
    font-size: 3em;
    margin: 4em 0 0.5em 0;

    @include media(min-width $max_tablet_width) {
      font-size: 4em;
    }
}
.wel_instruction {
  font-size: 1em;
  font-weight: bolder;
  color: $rust;
  padding: 0.5em;
  border-radius: 0.8em; 
  background-color: $white;

  @include media(min-width $min_tablet_width max-width $max_tablet_width) {
    opacity: 0.9;
  }
}
.form_cont {
  overflow: hidden;
  
 @include media(min-width $min_tablet_width) {
    @include span-columns(7);
    height: 100%;
    padding-right: 7em;
    padding-left: 2em;
  }
}
.usernameForm {

  @include media(min-width $min_tablet_width) {
    margin: 60% 0;
  }
}
.userName_input {
  width: 100%;
  margin: 0 auto;
  line-height: 2.5em;
  border: $white 2px solid;
  background-color: $white;
  border-radius: 4px;
  padding-left: 0.5em;
}
input[type="text"] {
    font-size: 1em; 
    font-family: 'Coming Soon', cursive;
}
.submitBtn_cont {
  width: 100%;
  padding-right: 0.4em;
  overflow: hidden;
  margin: 2em 0;
}
#userSubmitBtn {
  float: right;
  font-family: 'Coming Soon', cursive;
  font-weight: bolder;
  font-size: 1vh;
  background-color: $white;
  border: 2px $white solid;
  text-shadow: none;
  text-shadow: none;
  border-radius: 4px;
  padding: 0.8em;
  color: $rust;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $rust;
    border: 2px $rust solid;
    color: $white;
    cursor: pointer;
  }
}
