<header class="header">
	<div class="header_element">
		<img id="playerOneIcon " src="">
		<div id="playerOneInfo">
			<h3>Player 1</h3>
			<p>Points: {{}}</p>
		</div>
	</div>
	<div class="header_element">
		<div id="timeBox">
			<h3>Time Left </h3>
			<p>{{}}</p>
		</div>
	</div>
	<div class="header_element">
		<div id="playerOneInfo">
			<h3>Player 2</h3>
			<p>Points: {{}}</p>
		</div>
		<img id="playerTwoIcon " src="">
	</div>
</header>
<div class="question_stamp_cont">
	<div class="stampImg_cont">
		<img id="stampImg" src="img/ET.jpg">
	</div>
	<div class="question_cont">
		<h2>{{ question }}</h2>
	</div>
</div>

<div class="answer_score_cont">
	<div class="scoreBar">
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
	</div>
	<div class="answers_cont">
		<div class="answer_list">
			<div class="answer_cont">
				<button class="answerBtn" ng-repeat="answer in answerArray" ng-click="gamePlay.submitAnswer()">{{ answer.round.correct }}</button>
			</div>
		</div>
	</div>
	<div class="scoreBar">
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
	</div>
</div>
