<header class="header">
	<div class="header_element">
		<div class="playerOneIcon_cont">
			<img id="playerOneIcon" src="../img/user_icon_white32.png">
		</div>
		<div class="playerOneInfo_cont">
			<h3 ng-bind="gameData.getPlayer1Name()">playerOne</h3>
			<h3>Points: {{}}</h3>
		</div>
	</div>
	<div class="header_element">
		<div class="timeBox">
			<h3>Time Left </h3>
			<h3>{{}}</h3>
		</div>
	</div>
	<div class="header_element">
		<div class="playerTwoInfo_cont">
			<h3 ng-bind="gameData.getPlayer2Name()">playerTwo</h3>
			<h3>Points: {{}}</h3>
		</div>
		<div class="playerTwoIcon_cont">
			<img id="playerTwoIcon" src="../img/user_icon_white32.png">
		</div>
	</div>
</header>
<div class="question_stamp_cont">
	<div class="stamp_cont">
		<div class="img_cont">
			<img id="stampImg" src="img/ET.jpg">
		</div>
		
	</div>
	<div class="question_cont">
		<h2>{{ question }}</h2>
	</div>
</div>

<div class="answer_score_cont">
	<div class="scoreBar">
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
	</div>
	<div class="answers_cont">
		<div class="answer_list">
			<div class="answer_cont">
				<!--<button class="answerBtn" ng-repeat="answer in answerArray" ng-click="gamePlay.submitAnswer()">{{ answer.round.correct }}</button>-->
				<button class="answerBtn" ng-click="gamePlay.submitAnswer()">answer</button>
				<button class="answerBtn" ng-click="gamePlay.submitAnswer()">answer</button>
				<button class="answerBtn" ng-click="gamePlay.submitAnswer()">answer</button>
				<button class="answerBtn" ng-click="gamePlay.submitAnswer()">answer</button>
			</div>
		</div>
	</div>
	<div class="scoreBar">
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
		<div class="bar"> </div>
	</div>
</div>
