<!------------Round Countdown Modal------------>
<div ng-show="showModal" class="overlay"></div>
<div ng-show="showModal" class="nextRoundModal">
	<h1 class="roundText">Round {{ currentRoundNum }}</h1>
	<h1>Starting in...</h1>
	<h1 ng-bind="nextRoundTickNum"></h1>
</div>

<!------------Game Play Body------------>
<div class='wrapper'>
	<header class="header">
		<div class="header_element">
			<img class="playerOneIcon" src="../img/p1_icon_wht.png">
			<div class="playerOne">
				<h3>Game</h3>
				<h3>Points: {{ gameData.getPlayer1Score() }}</h3>
			</div>
		</div>
		<div class="header_element">
			<div class="timeBox">
				<h3>Time Left</h3>
				<h3>{{ answerTimeTickNum }}</h3>
			</div>
		</div>
		<div class="header_element">
			<img class="stopwatchIcon" src="../img/stopwatch_icon_wht.png">
			<div class="stopwatchPoints">
				<h3>Speed Bonus</h3>
				<h3>Points: {{ gameData.getPlayer1SpeedyPoints() }}</h3>
			</div>
		</div>
	</header>
	<div class="gameArea">
		<div class="ask_container">
			<div class="stamp_block">
				<img id="stampImg" ng-src="https://stampgames-memsearch.rhcloud.com/{{ stampImgURL }}">
			</div>
			<div class="question_block">
				<h2 class="question">{{ question }}</h2>
			</div>
		</div>
		<div class="answer_container">
			<div class="scoreBar">
				<div class="scoreBar_overlay">
					<div class="scoreBar_overlay">
						<div ng-repeat="p1Correct in p1CorrectArray track by $index" ng-class="p1Correct ? 'blue' : 'white'" class="bar_left"></div>
					</div>
				</div>
				<div class="bar_left"></div>
				<div class="bar_left"></div>
				<div class="bar_left"></div>
				<div class="bar_left"></div>
			</div>
			<div class="answers">
				<button ng-class="{ blueBorder: $index == index, answerBtn: true, correctAnswer: answer == correct }" ng-repeat="answer in answerArray" ng-click="submitAnswer(answer, $index)">{{ answer }}</button>
			</div>
		</div>
	</div>
</div>


