<div class="wrapper">
	<div class="header">
		<h2 class="center_category">{{ category }}</h2>
	</div>
	<div class="gameArea">
		<div class="gameOver_container">
			<div class="player_results">
				<h1 class="game_outcome">{{ game_outcome }}</h1>
				<div class="player1_soloResult">
					<img alt="Player One Icon" class="p1_icon" src="../img/p1_icon_blk.png">
					<h2 class="name">{{ player1Name }}</h2>
					<h2>Final Score: {{ player1Score }}</h2>
					<h2>Speed Bonus Points: {{ player1SpeedyPoints }}</h2>
				</div>
			</div>
			<div class="homeBtn_container">
				<button class="homeBtn" ng-click="returnHome()">New Category!</button>
			</div>
		</div>
	</div>
</div>

