<div class="top_half">
	<div class="player1_cont">
		<img id="player1_icon" src="../img/user_circle_red64.png">
		<h1 class="player1_name" ng-bind="gameData.getPlayer1Name()"></h1>
	</div>
</div>
<div class="divider_cont">
	<div class="icon_holder">
		<!--<h1 class="versus_text">VS</h1>-->
		<img id="mail_icon" src="../img/user_icon_white32.png">
	</div>
</div>
<div class="bottom_half">
	<div ng-hide="waiting" class="player2_cont">
		<h1 class="player2_name" ng-bind="gameData.getPlayer2Name()"></h1>
		<img id="player2_icon" src="../img/user_circle_red64.png">
	</div>
	<div ng-hide="!waiting" class="play_solo_ask">
		
		<h2 ng-hide="opponentCountdown">Looks like there are no available opponents at this time.</h2>
		<div ng-hide="opponentCountdown" class="btn_cont">
			<button id="playSoloBtn" ng-click="toGame()">Play Solo</button>
			<button id="waitBtn" ng-click="wait()">Wait for Opponent</button>
		</div>

		<h2 ng-hide="!opponentCountdown">Wating for new opponent...</h2>
		<div ng-hide="!opponentCountdown" class="countdownNum" ng-bind="countdownNum"></div>
	</div>
</div>