<div class="wrapper">
	<div class="header">
		<h1 class="center_title">Philatelist Face-Off</h1>
		<h3 class="center_category" ng-bind="category"></h3>
	</div>

	<div class="gameArea">
		<div class="pregame_container">
			<div class="top">
				<div class="player1">
					<img class="player1_icon" src="../img/p1_icon_blk.png">
					<h1 class="player1_name" ng-bind="gameData.getPlayer1Name()"></h1>
				</div>
			</div>
			<div class="divider">
				<img class="mail_icon" src="../img/user_icon_white32.png">
			</div>
			<div class="bottom">
				<div ng-hide="waiting" class="player2">
					<h1 class="player2_name" ng-bind="gameData.getPlayer2Name()"></h1>
					<img class="player2_icon" src="../img/p2_icon_blk.png">
				</div>
				<div ng-hide="!waiting" class="play_solo_ask">
					<h2 ng-hide="opponentCountdown">Looks like there are no available opponents at this time.</h2>
					<div ng-hide="opponentCountdown" class="btn_cont">
						<button class="playSoloBtn" ng-click="toGame()">Play Solo</button>
						<button class="waitBtn" ng-click="wait()">Wait for Opponent</button>
					</div>
						<h2 ng-hide="!opponentCountdown">Wating for new opponent...</h2>
						<div ng-hide="!opponentCountdown" class="countdownNum" ng-bind="countdownNum"></div>
				</div>
			</div>
		</div>
	</div>
</div>
