<div class="wrapper">
	<div class="header">
		<h3 class="center_category" ng-bind="category"></h3>
	</div>

	<div class="gameArea">
		<div class="pregame_container">
			<div class="top">
				<div class="player1">
					<img alt="Player One Icon" class="player1_icon" src="../img/p1_icon_blk.png">
					<h1 class="player1_name" ng-bind="gameData.getPlayer1Name()"></h1>
				</div>
			</div>
			<div class="divider">
				<img alt="Mail Icon" class="mail_icon" src="../img/user_icon_white32.png">
			</div>
			<div class="bottom">
				<div class="play_solo_ask">
					<h2>Get set! Be sure to answer before the time is up.</h2>
					<div class="btn_cont">
						<button class="playSoloBtn" ng-click="toGame()">Let's Play!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
