<div class="welcome_container">
	<div class="postcard">
	<div class="welcome_text">
		<h3 class="welcome">Greetings!</h3>
		<p class="wel_instruction">Welcome to Philatelist Face-Off - a pair-player quiz game all about stamp-related trivia. Please create a username &#8594;</p>
	</div>
	<div class="form_cont">
		<form name="usernameForm" ng-submit="updateUserName(userName)">
			<input class="userName_input" type=text name="userName" ng-model="userName" placeholder="Username (e.g. 'stampChamp')" required>
			<div class="submitBtn_cont">
				<input type="submit" id="userSubmitBtn">
			</div>
		</form>
	</div>
	</div>
</div>

