@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------gameOver------------------------*/
.gameOver_container {
  width: 100%;
  background-color: transparent;
  height: 26vh;
  margin: 10vh 0 0 0;
  position: relative;
  overflow: hidden; }

.gameOver_container::before {
  content: ' ';
  display: block;
  position: absolute;
  background-color: #F2F2F2;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7; }

.player_results {
  width: 100%;
  overflow: hidden;
  margin-top: 1em; }
  .player_results h2 {
    margin: 0.1em 0;
    font-size: 1em;
    color: #333333; }
    @media screen and (min-width: 768px) {
      .player_results h2 {
        font-size: 1.5em; } }

.game_outcome {
  width: 100%;
  text-align: center;
  color: #333333;
  margin: 0.1em 0;
  font-size: 1.5em; }
  @media screen and (min-width: 768px) {
    .game_outcome {
      font-size: 2.5em; } }

.player1_soloResult {
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: #333333; }

.player1_pairResult {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: right;
  overflow: hidden; }
  .player1_pairResult:last-child {
    margin-right: 0; }

.player2_pairResult {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: left;
  overflow: hidden; }
  .player2_pairResult:last-child {
    margin-right: 0; }

.homeBtn_container {
  width: 100%;
  text-align: center;
  overflow: hidden; }

.name {
  display: inline; }

.p1_icon, .p2_icon {
  display: inline;
  height: 1.2em; }
  @media screen and (min-width: 768px) {
    .p1_icon, .p2_icon {
      height: 2em; } }

.homeBtn {
  font-family: 'Coming Soon', cursive;
  padding: 0.5em;
  margin: 0.5em 0 1em 0;
  font-size: 0.5em;
  background-color: #F2F2F2;
  border: #84D4EF solid 3px;
  border-radius: 0.5em;
  color: #333333; }
  .homeBtn:focus {
    outline: 0; }
  .homeBtn:hover {
    cursor: pointer;
    background-color: #ECECEC; }
  @media screen and (min-width: 768px) {
    .homeBtn {
      font-size: 1em; } }
