@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------gamePlay------------------------*/
/*--------Countdown Modal---------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.nextRoundModal {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: #84D4EF;
  border-radius: 0.4em;
  padding: 0.5em;
  top: 50%;
  left: 50%;
  width: 16em;
  height: 14em;
  margin-left: -8em;
  margin-top: -7em; }
  .nextRoundModal h1 {
    color: #333333;
    text-align: center;
    margin: 0 auto; }
  .nextRoundModal .roundText {
    color: #333333;
    background-color: #F2F2F2;
    font-weight: bolder;
    border-radius: 0.4em; }

/*--------Game Play---------------*/
/*-----Header----------*/
.header_element {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline;
  color: #333333; }
  .header_element:last-child {
    margin-right: 0; }

.playerOneIcon {
  height: 1.5em;
  display: inline;
  float: left;
  margin: 0.4em 0.4em; }
  @media screen and (min-width: 768px) {
    .playerOneIcon {
      height: 2.5em;
      margin: 1em 1em; } }

.playerOne {
  overflow: hidden;
  display: inline;
  float: left;
  margin: 0.4em 0.4em;
  font-size: 0.7em; }
  @media screen and (min-width: 768px) {
    .playerOne {
      font-size: 1.2em; } }
  .playerOne h3 {
    font-size: inherit;
    margin: 0; }

.stopwatchIcon {
  height: 1.5em;
  display: inline;
  float: right;
  margin: 0.4em 0.4em; }
  @media screen and (min-width: 768px) {
    .stopwatchIcon {
      height: 2.5em;
      margin: 1em 1em; } }

.stopwatchPoints {
  overflow: hidden;
  display: inline;
  float: right;
  margin: 0.4em 0.4em;
  font-size: 0.7em; }
  @media screen and (min-width: 768px) {
    .stopwatchPoints {
      font-size: 1.2em; } }
  .stopwatchPoints h3 {
    font-size: inherit;
    margin: 0; }

.timeBox {
  overflow: hidden;
  text-align: center;
  margin-top: 0.4em; }
  .timeBox h3 {
    font-size: 0.7em;
    margin: 0;
    color: #333333; }
    @media screen and (min-width: 768px) {
      .timeBox h3 {
        font-size: 1.2em; } }

/*----------Ask Container----------*/
.ask_container {
  width: 100%;
  overflow: hidden;
  height: 44vh;
  background-color: transparent;
  color: #333333; }

.stamp_block {
  width: 100%;
  overflow: hidden;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .stamp_block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0;
      margin-top: 10vh; }
      .stamp_block:last-child {
        margin-right: 0; } }

#stampImg {
  max-height: 25vh;
  border-radius: 5px;
  border: #F2F2F2 2px solid;
  box-shadow: 6px 5px 5px #333333; }

.question_block {
  width: 100%;
  padding: 0 0.2em; }
  @media screen and (min-width: 768px) {
    .question_block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0;
      margin-top: 10vh;
      padding: 0.5em 3em 0 3em; }
      .question_block:last-child {
        margin-right: 0; } }

.question {
  width: 100%;
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 0.4em;
  padding: 0.8em;
  margin: 0;
  font-size: 0.8em; }
  @media screen and (min-width: 768px) {
    .question {
      font-size: 1.1em; } }

/*---------Answer Container----------*/
.answer_container {
  width: 100%;
  overflow: hidden;
  height: 40vh;
  padding: 0;
  background-color: transparent; }
  @media screen and (min-width: 1600px) {
    .answer_container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 17.05961%; }
      .answer_container:last-child {
        margin-right: 0; } }

.answers {
  width: 80%;
  height: 100%;
  float: left;
  overflow: hidden;
  background-color: transparent;
  text-align: center; }

.answerBtn {
  font-family: 'Coming Soon', cursive;
  width: 90%;
  height: 20%;
  margin-top: 2%;
  font-size: 1em;
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
  border-radius: 0.4em;
  color: #333333; }
  .answerBtn:focus {
    outline: 0; }
  @media screen and (min-width: 768px) {
    .answerBtn {
      font-size: 1.6em; } }
  @media screen and (min-width: 768px) {
    .answerBtn {
      width: 40%;
      height: 40%;
      margin: 1% 3%; } }

.scoreBar {
  width: 10%;
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative; }

.scoreBar_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.bar_left {
  width: 100%;
  margin: 0;
  height: 23%;
  border: #84D4EF 3px solid;
  border-radius: 0.5em; }

.bar_right {
  width: 100%;
  float: right;
  margin: 0;
  height: 23%;
  border: #84D4EF 3px solid;
  border-radius: 0.5em; }

.blueBorder {
  border: #84D4EF 3px solid;
  border-radius: 0.5em; }

.correctAnswer {
  background-color: #84D4EF;
  border: #84D4EF 3px solid;
  border-radius: 0.5em; }
