@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------Home------------------------*/
/*---------Title Bar----------*/
.home_title_block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%;
  margin-right: 0;
  height: 100%; }
  .home_title_block:last-child {
    margin-right: 0; }
  .home_title_block .home_title {
    width: 100%;
    color: #333333;
    font-size: 1.2em;
    margin: 0.1em 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .home_title_block .home_title {
        font-size: 2em; } }
  .home_title_block .choose {
    width: 100%;
    color: #333333;
    font-size: 0.7em;
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .home_title_block .choose {
        font-size: 1em; } }

.userName_block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-right: 0;
  overflow: hidden;
  height: 100%; }
  .userName_block:last-child {
    margin-right: 0; }

.username_cont {
  float: right;
  overflow: hidden;
  margin-top: 2vh; }

.username_home {
  color: #333333;
  font-size: 1.2em;
  margin: 0;
  display: inline;
  margin-right: 0.5em; }

.home_username_icon {
  height: 2vh;
  margin: 0;
  display: inline; }

/*---------Categories----------*/
.grid {
  width: 100%;
  height: 92vh; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer {
  width: 50%; }

.grid-item {
  width: 100%;
  height: 33%;
  float: left;
  background: transparent;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .grid-item {
      width: 50%;
      height: 33%; } }
  @media screen and (min-width: 1024px) {
    .grid-item {
      width: 33.3%;
      height: 40%; } }

.stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
  overflow: hidden; }

.stamp {
  border-radius: 5px;
  border: #333333 2px solid;
  box-shadow: 6px 5px 5px #333333;
  position: inline; }
  @media screen and (max-width: 1024px) {
    .stamp {
      max-height: 69%; } }

.category_label {
  overflow: hidden;
  background-color: transparent;
  opacity: 0.8;
  border-radius: 0.5em;
  margin: 0.1em 0;
  margin: 0; }

.category {
  display: inline;
  font-size: 2em;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .category {
      font-size: 1.5em; } }

.category_icon {
  display: inline;
  height: 2em;
  margin: 0.5em 0.5em 0 0; }
  @media screen and (min-width: 768px) {
    .category_icon {
      font-size: 1em;
      margin: 0.1em 0.1em 0 0; } }
