@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------Home------------------------*/
/*---------Title Bar----------*/
.choose {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 2vh; }
  .choose:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .choose {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 8.5298%; }
      .choose:last-child {
        margin-right: 0; } }

.choose_text {
  color: #333333;
  font-size: 1em;
  margin: 0;
  display: inline;
  margin-left: 1em; }
  @media screen and (min-width: 768px) {
    .choose_text {
      font-size: 1.5em;
      margin-left: 0; } }

.userName_block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  overflow: hidden;
  height: 100%; }
  .userName_block:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .userName_block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .userName_block:last-child {
        margin-right: 0; } }

.username_cont {
  float: right;
  overflow: hidden;
  margin-top: 2vh;
  margin-right: 1em; }

.username_home {
  color: #333333;
  font-size: 1em;
  margin: 0;
  display: inline; }
  @media screen and (min-width: 768px) {
    .username_home {
      font-size: 1.5em; } }

.home_username_icon {
  height: 1em;
  margin: 0;
  display: inline; }
  @media screen and (min-width: 768px) {
    .home_username_icon {
      height: 1.5em; } }

/*---------Categories----------*/
.grid {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  overflow: hidden;
  text-align: center; }
  .grid::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    .grid {
      margin-top: 11vh; } }
  @media screen and (min-width: 1024px) {
    .grid {
      margin-top: 12vh; } }

.stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0;
      height: 21em; }
      .stamp_cont_music:last-child, .stamp_cont_science:last-child, .stamp_cont_olympics:last-child, .stamp_cont_presidents:last-child, .stamp_cont_movies:last-child, .stamp_cont_aviation:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0;
      height: 18em; }
      .stamp_cont_music:last-child, .stamp_cont_science:last-child, .stamp_cont_olympics:last-child, .stamp_cont_presidents:last-child, .stamp_cont_movies:last-child, .stamp_cont_aviation:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1600px) {
    .stamp_cont_music, .stamp_cont_science, .stamp_cont_olympics, .stamp_cont_presidents, .stamp_cont_movies, .stamp_cont_aviation {
      height: 22em; } }

.stamp {
  border-radius: 5px;
  border: #333333 2px solid;
  box-shadow: 6px 5px 5px #333333; }
  @media screen and (min-width: 768px) {
    .stamp {
      width: 60%; } }
  @media screen and (min-width: 1600px) {
    .stamp {
      width: 69%; } }

.large_stamp {
  width: 60%; }
  @media screen and (min-width: 510px) {
    .large_stamp {
      width: 40%; } }
  @media screen and (min-width: 768px) {
    .large_stamp {
      width: 60%; } }
  @media screen and (min-width: 1600px) {
    .large_stamp {
      width: 69%; } }

#presidents {
  max-height: 80%; }

.category {
  background-color: white;
  opacity: 0.8;
  display: inline;
  padding: 0.1em 0.4em;
  border-radius: 0.5em;
  margin: 0.1em 0;
  font-size: 2em;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .category {
      font-size: 1.5em; } }
