@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Coming Soon', cursive;
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

a:link, a:visited {
  text-decoration: none;
  color: #2A221E; }

a:hover, a:active {
  text-decoration: none;
  color: #2A221E; }

body {
  margin: 0;
  padding: 0; }

.body {
  margin: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .body::after {
    clear: both;
    content: "";
    display: table; }

/*--------Game Play Wrapper---------------*/
.wrapper {
  border-top: 1px solid #84D4EF;
  width: 100%; }

/*-----Header----------*/
.header {
  width: 100%;
  overflow: hidden;
  background-color: #84D4EF;
  color: white;
  height: 8vh;
  z-index: 9999;
  position: fixed; }
  @media screen and (min-width: 768px) {
    .header {
      height: 10vh; } }

.gameArea {
  width: 100%;
  position: fixed;
  margin-top: 8vh;
  height: 92vh;
  z-index: -1; }
  @media screen and (min-width: 768px) {
    .gameArea {
      height: 90vh; } }

.gameArea::before {
  content: ' ';
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-image: url("../img/vintage-postcard.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 95% 10%; }

.center_title {
  color: #333333;
  text-align: center;
  font-size: 1em;
  margin: 0.2em 0 0 0; }
  @media screen and (min-width: 768px) {
    .center_title {
      font-size: 1.5em; } }

.center_category {
  color: #333333;
  text-align: center;
  font-size: 0.8em;
  margin: 0.8em 0 0 0; }
  @media screen and (min-width: 768px) {
    .center_category {
      font-size: 1.5em; } }

.blue {
  background-color: #84D4EF; }

.white {
  background-color: #F2F2F2; }
