@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Coming Soon', cursive;
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

a:link, a:visited {
  text-decoration: none;
  color: #2A221E; }

a:hover, a:active {
  text-decoration: none;
  color: #2A221E; }

.body {
  margin: 0; }

/*--------Game Play Wrapper---------------*/
.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid white; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    .wrapper {
      height: 100vh;
      border-top: 1px solid #84D4EF; } }

/*-----Header----------*/
.header {
  width: 100%;
  overflow: hidden;
  background-color: #84D4EF;
  color: white;
  height: 8vh; }

.gameArea {
  width: 100%;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .gameArea {
      height: 92vh; } }

.gameArea::before {
  content: ' ';
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url("../img/vintage-postcard.jpg");
  background-repeat: no-repeat;
  background-position: 95% 10%; }
  @media screen and (min-width: 1024px) {
    .gameArea::before {
      position: absolute; } }

.center_title {
  color: #333333;
  text-align: center;
  font-size: 2.3vh;
  margin: 0.5vh 0 0 0; }

.center_category {
  color: #333333;
  text-align: center;
  font-size: 1.5vh;
  margin: 0.5vh 0; }

.bkground_blue {
  background-color: white; }
  @media screen and (min-width: 768px) {
    .bkground_blue {
      background-color: #84D4EF; } }
  @media screen and (min-width: 420px) {
    .bkground_blue {
      background-color: white; } }

.blue {
  background-color: #84D4EF; }

.white {
  background-color: #F2F2F2; }

.gray_dk {
  background-color: #333333;
  opacity: 0.9; }
