html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  list-style-type: none;
  border: 1px black solid; }

*, *:before, *:after {
  box-sizing: inherit; }

a:link, a:visited {
  text-decoration: none;
  color: #2A221E; }

a:hover, a:active {
  text-decoration: none;
  color: #2A221E; }

#gameArea {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #gameArea::after {
    clear: both;
    content: "";
    display: table; }

/*-----------------------Home------------------------*/
.title {
  width: 100%;
  margin: 2em 0; }

.category-cont {
  width: 100%;
  padding: 1em; }

.categoryBtn {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .categoryBtn:last-child {
    margin-right: 0; }

/*-----------------------gamePlay------------------------*/
/*-----------------------gameOver------------------------*/
