html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  list-style-type: none;
  border: 1px black solid; }

*, *:before, *:after {
  box-sizing: inherit; }

a:link, a:visited {
  text-decoration: none;
  color: #2A221E; }

a:hover, a:active {
  text-decoration: none;
  color: #2A221E; }

#gameArea {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #gameArea::after {
    clear: both;
    content: "";
    display: table; }

/*-----------------------Home------------------------*/
.title {
  width: 100%;
  text-align: center;
  margin: 2em 0; }

.category-cont {
  width: 100%;
  padding: 1em; }

.categoryBtn {
  width: 100%; }

/*-----------------------gamePlay------------------------*/
.header {
  width: 100%;
  list-style-type: none; }

.header_element {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline; }
  .header_element:last-child {
    margin-right: 0; }

.question_stamp_cont {
  width: 100%; }

.stampImg_cont {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .stampImg_cont:last-child {
    margin-right: 0; }

.question_cont {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .question_cont:last-child {
    margin-right: 0; }

.answer_cont {
  width: 100%; }

/*-----------------------gameOver------------------------*/
