@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------Welcome------------------------*/
.postcard {
  width: 100%;
  overflow: hidden;
  background-color: white;
  opacity: 0.8;
  padding: 0 1em;
  border-radius: 3.5em;
  margin-top: 19vh;
  padding: 3vh; }
  @media screen and (min-device-width: 768px) {
    .postcard {
      position: absolute;
      bottom: 30vh;
      background-image: url("../img/vintage-postcard.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      padding: 0;
      border-radius: 0;
      box-shadow: 6px 5px 5px #333333;
      border-top: 1px solid #333333;
      border-bottom: 1px solid #333333; } }

.welcome_text {
  width: 100%; }
  @media screen and (min-device-width: 768px) {
    .welcome_text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      height: 100%;
      padding-left: 4em;
      padding-right: 1em; }
      .welcome_text:last-child {
        margin-right: 0; } }

.welcome {
  width: 100%;
  color: #800000;
  font-size: 5.5vw;
  margin: 0; }
  @media screen and (min-device-width: 768px) {
    .welcome {
      font-size: 4em;
      margin: 4em 0 0.5em 0; } }

.wel_instruction {
  width: 100%;
  font-size: 1em;
  font-weight: bolder;
  color: #800000;
  padding: 0.5em;
  border-radius: 0.8em;
  background-color: #F2F2F2; }
  @media screen and (min-device-width: 768px) {
    .wel_instruction {
      opacity: 0.9; } }

.form_cont {
  width: 100%;
  overflow: hidden; }
  @media screen and (min-device-width: 768px) {
    .form_cont {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%;
      height: 100%;
      padding-right: 7em;
      padding-left: 2em; }
      .form_cont:last-child {
        margin-right: 0; } }

.usernameForm {
  width: 100%; }
  @media screen and (min-device-width: 768px) {
    .usernameForm {
      margin: 60% 0; } }

.userName_input {
  width: 100%;
  margin: 0 auto;
  line-height: 2.5em;
  border: #F2F2F2 2px solid;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-left: 0.5em; }

input[type="text"] {
  font-size: 1em;
  font-family: 'Coming Soon', cursive; }

.submitBtn_cont {
  width: 100%;
  padding-right: 0.4em;
  overflow: hidden;
  margin: 2em 0; }

#userSubmitBtn {
  float: right;
  font-family: 'Coming Soon', cursive;
  font-weight: bolder;
  font-size: 1vh;
  background-color: #F2F2F2;
  border: 2px #F2F2F2 solid;
  text-shadow: none;
  text-shadow: none;
  border-radius: 4px;
  padding: 0.8em;
  color: #800000; }
  #userSubmitBtn:focus {
    outline: 0; }
  #userSubmitBtn:hover {
    background-color: #800000;
    border: 2px #800000 solid;
    color: #F2F2F2;
    cursor: pointer; }
