@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*-----------------------Welcome------------------------*/
.text_holder {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0 1em;
  border-radius: 5px;
  padding: 0.4em;
  margin-top: 10vh; }
  @media screen and (min-width: 768px) {
    .text_holder {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      margin-top: 0;
      margin-left: 2em;
      height: 92vh; } }

.text_holder::before {
  content: ' ';
  display: block;
  position: fixed;
  background-color: white;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5; }

.welcome_text {
  width: 100%;
  overflow: hidden; }

.welcome {
  width: 100%;
  color: #800000;
  font-size: 2.5em;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .welcome {
      width: 50%;
      font-size: 3em; } }

.wel_instruction {
  width: 100%;
  font-size: 1em;
  font-weight: bolder;
  color: #800000;
  padding: 0.5em;
  border-radius: 0.8em;
  background-color: #F2F2F2; }
  @media screen and (min-width: 768px) {
    .wel_instruction {
      width: 50%;
      font-size: 1em;
      opacity: 0.9; } }

.form_cont {
  width: 100%;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .form_cont {
      height: 100%;
      margin-top: 2em; } }

.usernameForm {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .usernameForm {
      width: 50%; } }

.userName_input {
  width: 100%;
  margin: 0 auto;
  border: #F2F2F2 2px solid;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 0.2em; }
  .userName_input:focus {
    outline: 0; }

input[type="text"] {
  font-family: 'Coming Soon', cursive;
  font-size: 1em;
  height: 3em;
  border: none; }
  input[type="text"] input[type="text"]:focus {
    outline: none; }
  @media screen and (min-width: 768px) {
    input[type="text"] {
      font-size: 1em;
      height: 2em; } }

.submitBtn_cont {
  width: 100%;
  padding-right: 0.4em;
  overflow: hidden;
  margin: 0.5em 0; }
  @media screen and (min-width: 768px) {
    .submitBtn_cont {
      width: 50%; } }

#userSubmitBtn {
  font-family: 'Coming Soon', cursive;
  font-weight: bolder;
  font-size: 1em;
  background-color: #F2F2F2;
  border: 2px #F2F2F2 solid;
  text-shadow: none;
  text-shadow: none;
  border-radius: 4px;
  padding: 0.4em;
  color: #800000; }
  #userSubmitBtn:focus {
    outline: 0; }
  #userSubmitBtn:hover {
    background-color: #800000;
    border: 2px #800000 solid;
    color: #F2F2F2;
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    #userSubmitBtn {
      font-size: 1em;
      padding: 0.3em; } }

.transparent {
  background-color: transparent; }
